{% extends "base.html" %}
{% load static %}
{% block content %}

    <h1 class="titulo-index">Home</h1>
    <p>Coloque seu Post</p>
    <p><a class="listagem" href="/post/lista">Clique aqui, para ver o que já está cadastrado!</a></p>
    <p>{{sucesso}}</p>

    <form action="/alunos/cadastro" method="post">
        {% csrf_token %}
        <label for="post">Post: </label>
        <input name="post" type="post" required>

      

       


        <input type="submit" id="botao" value="Envie">
    </form>
{% endblock %}